* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%; // 100vh를 사용하면 Mobile 기기에서 버그가 날 수도 있다.
}

@layer base {
  // Next에서 자동으로 생성해주는 DOM으로 Style하기 까다로워서 스타일에서 제외시켜준다.
  // display: contents;를 사용하여 박스요소를 생성하지 않고 접근성 트리에서도 제외시킴
  // 그래서 __next DOM이 아닌 body가 부모역활을 하게 된다.
  #__next {
    display: contents;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
