@use './detail.module';

.map {
  width: 100%;
  height: 100%;

  //? Naver Logo Control 위치 조정 (지도의 네이버 마크)
  & > div:nth-of-type(2) {
    bottom: detail.$header-height + detail.$section-padding-top !important; // 강제로 지정
  }
}
